/node_modules
/public/storage
/public/hot
/storage/*.key
/vendor
/public/uploads
/.idea
Homestead.json
Homestead.yaml

/public/trip_file
/public/images/users
/public/images/map
/public/images/vehicle
/public/images/driver
/public/images/companies
!/public/images/users/user.jpeg

/nbproject
.idea
/.project
/.buildpath
/.settings/
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
.env
